.cart-listing__card {
  margin: 25px;

  line-height: 110%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0rem;
}

.cart-listing__product-brand {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 15px;
}

.cart-listing__product-name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 10px;
}

.cart-listing__product-category {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
}
.cart-listing__price {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.cart-listing__misc {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.cart-listing__listing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.cart-listing__text {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
}

.cart-listing__right-side {
  display: flex;
  align-items: center;
}

.cart-listing__selector {
  flex-direction: column;
  justify-content: center;
}
